<nav id="nav">
    <ul>
        <li class="current"><a href="{{ .Site.BaseURL }}">Home</a></li>
        {{ $portfolioItems := where .Site.Pages "Type" .Site.Params.Portfolio.foldername }}
		{{ if $portfolioItems }}
        <li>
            <a href="{{ .Site.BaseURL }}#portfolio">{{ .Site.Params.Portfolio.title }}</a>
        </li>
        {{ end }}
        {{ $blogPosts := first 5 (where .Site.Pages "Type" .Site.Params.Blog.foldername) }}
        {{ if $blogPosts }}
        <li>
            <a href="{{ .Site.BaseURL }}{{ .Site.Params.Blog.foldername }}">{{ .Site.Params.Blog.title }}</a>
            <ul>
                {{ range $blogPosts }}
                <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                {{ end }}
            </ul>
        </li>
        {{ end }}
        <li><a href="{{ .Site.BaseURL }}#contact">Contact</a></li>
    </ul>
</nav>


<nav id="nav">
    <ul>
        <li class="current"><a href="{{ .Site.BaseURL }}">Home</a></li>
        <li>
            <a href="#">Dropdown</a>
            <ul>
                <li><a href="#">Lorem ipsum dolor</a></li>
                <li><a href="#">Magna phasellus</a></li>
                <li>
                    <a href="#">Phasellus consequat</a>
                    <ul>
                        <li><a href="#">Lorem ipsum dolor</a></li>
                        <li><a href="#">Phasellus consequat</a></li>
                        <li><a href="#">Magna phasellus</a></li>
                        <li><a href="#">Etiam dolore nisl</a></li>
                    </ul>
                </li>
                <li><a href="#">Veroeros feugiat</a></li>
            </ul>
        </li>
        <li><a href="left-sidebar.html">Left Sidebar</a></li>
        <li><a href="right-sidebar.html">Right Sidebar</a></li>
        <li><a href="no-sidebar.html">No Sidebar</a></li>
    </ul>
</nav>